*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
@font-face {
font-family: 'birdy';
src: url('../fonts/birdy_game.eot');
src: url('../fonts/birdy_game.ttf') format('truetype'),
     url('../fonts/birdy_game.woff') format('woff'),
     url('../fonts/birdy_game.svg#birdy') format('svg'); 
font-weight: normal;
font-style: normal;
}
body {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s;
    font-family: 'birdy';
}

.ng-invalid {
    border: 1px solid red !important;
}
.main_wrapper, html, body, .container, #uiview, .game-mobile{
	height: 100%;
	padding:0;
  position: relative;
}
.chrono-icon{
  background:  url('../assets/bg/icon-chrono.png') no-repeat center;
  width: 60px;
  height: 60px;
  display: inline-block;
  background-size: contain;
}
.play-icon{
  background:  url('../assets/bg/icon-play.png') no-repeat center;
  background-size: 99%;
  width: 60px;
  display: inline-block;
  background-size: 100%;
  height: 60px;
}
.heart-icon{
  background:  url('../assets/bg/icon-heart.png') no-repeat center;
  background-size: 100%;
  width: 30px;
  display: inline-block;
  background-size: contain;
  height: 30px;
}
.modal-wrapper{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: Arial;
    text-align:center;
    .FlipModal{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 80%;
      vertical-align: middle;
      height: 180px;
      background: rgba(255,255,255,0.8);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    overflow: hidden;

      .modal-title{
        background: $red;
        color: #FFFFFF;
        font-size: 25px;
        font-weight: bold;
      }
      .modal-content{
          background:transparent;
          -webkit-box-shadow: none;
          box-shadow: none;
          border:none;
          padding: 20px;
          .continue-wrapper{
            margin-top:-10px;
            .btn-continue{
                background: #FFFFFF;
                color: $red;
                font-size: 22px;
                border-radius: 10px;
            }
          }
      }
      .modal-footer{
        border: 0;
        padding: 10px 0;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 15px;
        width: 100%;
        .btn{margin:0; color:#FFFFFF; width:100%; font-weight: bold;}
        .btn-yellow{background:$yellow}
        .btn-blue{background:$blue}
        .btn-red{background:$red}
      }
    }
}
.flash .modal-content{font-size: 30px;}
.gift-modal, .exit-modal{
  display: none;
  &.showModal{display:block;}
}
.gift-modal  .FlipModal{
  height: 200px;
  .modal-content{
    padding: 5px;
    .gift-icon{
      display: inline-block;
      width: 55px;
      vertical-align: middle;
    }
    p{
      font-size: 15px;
      font-weight: bold;
      margin: 10px 0;
    }
    .gift-title{
      font-size: 20px;
      font-weight: bold;
      color: $red;
    }
  }
}
.exit-modal .FlipModal .modal-content p{font-size: 20px;}