<div class="play-page">
	<div class="header">
		<div class="btn-return" ng-click="goToState('home')">Menu</div>
		<div class="hearts pull-right">{{vm.hearts}} <i class="heart-icon"></i></div>
	</div>
	<div class="score-wrapper">
		<div class="title">{{vm.TitleScore}}</div>
		<div class="score">{{vm.score}}</div>
	</div>
	<div class="main-game row">
		<div class="col-xs-{{vm.mode.cards}} card-wrapper" ng-repeat="(index, card) in vm.cards track by index">
			<div class="card number{{card.value}} {{card.state}}-card" ng-click="vm.cardClicked(index)" ng-class="{'numberSmall' : card.value > 10000}">
				<span ng-if="card.state == 'show' || card.state == 'load'">{{card.value}}</span>
			</div>

		</div>
	</div>
	<div class="bottom text-uppercase">
		<div class="btn-help col-xs-6" ng-click="vm.showOneFct()" ng-class="{'showOne': vm.showOne}">
			Show One
			<sup class="indict">{{vm.showOneDiamonds}}</sup>
		</div>
		<div class="btn-help col-xs-6" ng-click="vm.showAllFct(false)">
			Show All
			<sup class="indict">{{vm.showAllDiamonds}}</sup>
		</div>
	</div>

	<div class="modal-wrapper bounceInRight" ng-if="vm.lose">
		<div class="FlipModal">
			<div class="modal-title">You lose !</div>
			<div class="modal-content">
				<p>Sorry, you don't have more hearts :(</p>
			</div>
			<div class="modal-footer row">
				<div class="col-xs-6"><div class="btn btn-yellow "  ng-click="goToState('home')">Menu</div></div>
				<div class="col-xs-6"><div class="btn btn-blue" ng-click="vm.init()">Try Again</div></div>
			</div>
		</div>
	</div>

	<div class="modal-wrapper showAll" ng-if="vm.showAll">
		<div class="FlipModal">
			<div class="modal-title">Show All Cards !</div>
			<div class="modal-content">
				<p>Are you sure you want to show all cards for 2 seconds ? </p>
			</div>
			<div class="modal-footer row">
				<div class="col-xs-6"><div class="btn btn-red "  ng-click="vm.showAll=false">No</div></div>
				<div class="col-xs-6"><div class="btn btn-blue" ng-click="vm.showAllFct(true)">Yes</div></div>
			</div>
		</div>
	</div>
	<div class="infoWindow" ng-if="vm.infoWindow.show">
		{{vm.infoWindow.content}}
	</div>
</div>
