<div class="menu-page">
	<div class="logo">
	    <img src="assets/images/logo.png" alt="logo" ng-show="vm.showLogo">
	</div>
	<div class="btns">
		<div class="simple col-xs-6" ng-click="vm.showLevels('simple')">
			<div class="btn-wrapper">			
				<i class="play-icon"></i>
				<p>Simple Mode</p>
			</div>
		</div>
		<div class="flash col-xs-6" ng-click="vm.showLevels('flash')">
			<div class="btn-wrapper">			
				<i class="chrono-icon"></i>
				<p>Flash Mode</p>
			</div>
		</div>
	</div>
	<div class="home-content">
	    <div class="score row">
	    	<div class="col-xs-12">
	    		 High Score
	    	</div>
	    	<div class="col-xs-6">
	    		Simple Mode
	    		<span>{{vm.score}}</span>
	    	</div>
	    	<div class="col-xs-6">
	    		Flash Mode
	    		<span>{{vm.scoreFlash}}</span>
	    	</div>
	    </div>
	</div>
	<div class="footer">
		<div class="col-xs-4"><div class="help" ng-click="goToState('howToPlay')"></div></div>
		<div class="col-xs-4 text-center"><div class="params"></div></div>
		<div class="col-xs-4 text-right"><div class="classement"></div></div>
	</div>
	<div class="modal-wrapper" ng-if="vm.showLevel != ''">
		<div class="FlipModal">
			<div class="modal-content row">
				<div class="col-xs-4 card-wrapper">
					<div class="card" ng-class="{'hide-card': vm.hideCard === 'easy'}" ng-click="vm.startGame(vm.showLevel,'easy')">
						<span>Easy</span>
					</div>
				</div>
				<div class="col-xs-4 card-wrapper">
					<div class="card" ng-class="{'hide-card': vm.hideCard === 'medium'}" ng-click="vm.startGame(vm.showLevel,'medium')">
						<span>Meduim</span>
					</div>
				</div>
				<div class="col-xs-4 card-wrapper">
					<div class="card" ng-class="{'hide-card': vm.hideCard === 'hard'}" ng-click="vm.startGame(vm.showLevel,'hard')">
						<span>Hard</span>
					</div>
				</div>
			</div>
			<div class="modal-footer row">
				<div class="col-xs-12"><div class="btn btn-blue" ng-click="vm.showLevel=''">Close</div></div>
			</div>
		</div>
	</div>
</div>
