<div class="menu-page">
	<div class="logo">
	    <img src="assets/images/logo.png" alt="logo" ng-show="vm.showLogo">
	    <div class="close-btn" ng-click="mainCtrl.close(false); mainCtrl.clickSound()"></div>
	    <div class="facebook-btn" ng-click="loginFacebook()">
	    	<span class="icon" ng-if="userImg === ''"></span>
	    	<img ng-src="{{userImg}}" ng-if="userImg != ''">
	    	<p class="text">{{userName}}</p>
	    </div>
	</div>
	<div class="btns">
		<div class="simple col-xs-6" ng-click="vm.showLevels('simple'); mainCtrl.clickSound()">
			<div class="btn-wrapper">			
				<i class="play-icon"></i>
				<p>Simple Mode</p>
			</div>
		</div>
		<div class="flash col-xs-6" ng-click="vm.showLevels('flash'); mainCtrl.clickSound()">
			<div class="btn-wrapper">			
				<i class="chrono-icon"></i>
				<p>Flash Mode</p>
			</div>
		</div>
	</div>
	<div class="home-content">
	    <div class="score row">
	    	<div class="col-xs-12">
	    		 High Score
	    	</div>
	    	<div class="col-xs-6">
	    		Simple Mode
	    		<span>{{vm.score}}</span>
	    	</div>
	    	<div class="col-xs-6">
	    		Flash Mode
	    		<span>{{vm.scoreFlash}}</span>
	    	</div>
	    </div>
	</div>
	<div class="footer">
		<div class="col-xs-4"><div class="help" ng-click="mainCtrl.goToState('howToPlay'); mainCtrl.clickSound()"></div></div>
		<div class="col-xs-4 text-center" ng-click="toggleSound(); mainCtrl.clickSound()"><div class="sound" ng-class="{'soundOff':!sound}"></div></div>
		<div class="col-xs-4 text-right" ng-click="vm.shareFacebook()"><div class="classement"></div></div>
	</div>
	<div class="modal-wrapper" ng-if="vm.showLevel != ''">
		<div class="FlipModal">
			<div class="modal-content row">
				<div class="col-xs-4 card-wrapper">
					<div class="card" ng-class="{'hide-card': vm.hideCard === 'easy'}" ng-click="vm.startGame(vm.showLevel,'easy')">
						<span>Easy</span>
					</div>
				</div>
				<div class="col-xs-4 card-wrapper">
					<div class="card" ng-class="{'hide-card': vm.hideCard === 'medium'}" ng-click="vm.startGame(vm.showLevel,'medium')">
						<span>Meduim</span>
					</div>
				</div>
				<div class="col-xs-4 card-wrapper">
					<div class="card" ng-class="{'hide-card': vm.hideCard === 'hard'}" ng-click="vm.startGame(vm.showLevel,'hard')">
						<span>Hard</span>
					</div>
				</div>
			</div>
			<div class="modal-footer row">
				<div class="col-xs-12"><div class="btn btn-blue" ng-click="vm.showLevel=''; mainCtrl.clickSound()">Close</div></div>
			</div>
		</div>
	</div>
</div>
