<div class="play-page howToPlay">
	<div class="header">
		<div class="btn-return" ng-click="mainCtrl.goToState('home')">Menu</div>
	</div>
	<div class="title">How To Play</div>
	<div class="desc">Find two cards with the same number to get the sum, You have only 3 chances :)</div>
	<ul class="list">
		<li class="row">
			<img src="assets/images/tuto/tuto1.png" class="col-xs-4">
			<p class="col-xs-8">Two cards with the same number gives the sum</p>
		</li>
		<li class="row">
			<img src="assets/images/tuto/tuto2.png" class="col-xs-4">
			<p class="col-xs-8">Joker card can be used with any card</p>
		</li>
		<li class="row">
			<img src="assets/images/tuto/tuto3.png" class="col-xs-4">
			<p class="col-xs-8">Shuffle card mix all your cards</p>
		</li>
		<li class="row">
			<img src="assets/images/tuto/tuto4.png" class="col-xs-4">
			<p class="col-xs-8">Give you more time in Flash Mode</p>
		</li>
	</ul>
</div>
