<div class="play-page howToPlay">
	<div class="header">
		<div class="btn-return" ng-click="mainCtrl.goToState('home'); mainCtrl.clickSound()">Menu</div>
	</div>
	<div class="title">How To Play</div>
	<div class="desc">Add numbers with the same values to get the sum, You have only 3 chances :)</div>
	<ul class="list">
		<li class="row">
			<img src="assets/images/tuto/tuto1.png" class="col-xs-4">
			<p class="col-xs-8">Two cards with the same values give the sum</p>
		</li>
		<li class="row">
			<img src="assets/images/tuto/tuto2.png" class="col-xs-4">
			<p class="col-xs-8">Use the jocker card with any other card</p>
		</li>
		<li class="row">
			<img src="assets/images/tuto/tuto3.png" class="col-xs-4">
			<p class="col-xs-8">Mix all your cards with the shuffle card</p>
		</li>
		<li class="row">
			<img src="assets/images/tuto/tuto4.png" class="col-xs-4">
			<p class="col-xs-8">Get more time in flash mode</p>
		</li>
	</ul>
</div>
